.titulo{
    width: auto;
    height: 3rem;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 2rem;
    padding: 1rem 0 0 3rem;
}

.agregar-productos{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: .5rem;
}

.container{
    color: black;
    max-width: 400px;
    width: 100%;
    height: 560px;
    background: #fff;
    padding: 23px;
    border-radius: 30px;
}

.img-area{
    position: relative;
    width: 100%;
    height: 490px;
    background: #cccccc5c;
    margin-bottom: 30px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-area .icon{
    font-size: 100px;
}

.img-area h3{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 6px;
}

.img-area p{
    color: #999;
}

.img-area p span{
    font-weight: 400;
    color: #5a5a5a;
}

.img-area img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 100;
}

.img-area::before{
    content: attr(data-img);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    font-weight: 300;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: all .3s ease;
    z-index: 200;
}

.img-area.active:hover::before{
    opacity: 1;
}

.select-image{
    display: block;
    width: 100%;
    padding: 10px 0;
    border-radius: 15px;
    background: #b69c9c;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    cursor: pointer;
    transition: all .3s ease;
}

.select-image:hover{
    background: #a38a8a;
}


.formulario-info form label{
    position: absolute;
    top: 50%;
    left: 0.313rem;
    transform: translateY(-50%);
    font-size: 1rem;
    pointer-events: none;
    transition: .5s;
}

input:focus ~ label,
input:valid ~ label{
    top: -0.313rem;
}

.container-input input{
    width: 100%;
    height: 3rem;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 2.188rem 0 0.313rem;
}


.formulario-info form .campo, textarea{
    display: flex;
    margin: 1.5rem 0 0 2rem;
    padding-left: .5rem;
    font-size: 1.3rem;
    border: 1px solid #dbdbdb;
    margin-bottom: 1rem;
    border-radius: 6px;
    outline: 0px;
    color: black;
}

.formulario-info form textarea{
    width: 25rem;
    height: 10rem;
    resize: none;
}

.formulario-info .btn-formulario{
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 2rem;
    border: none;
    outline: 0px;
    background: #b69c9c;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    transition: all 300ms ease;
}

.formulario-info .btn-formulario:hover{
    background: #a38a8a;
    color: white;
}


















/* .agregar-productos{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.container{
    background: #ffffff;
    width: 50%;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    padding: 50px 30px;
    margin-left: 10rem;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
}

.image-container{
    width: 90%;
    height: auto;
    margin: 0 auto 30px auto;
}

.image-container img{
    display: block;
    position: relative;
    max-width: 100%;
    max-height: auto;
    margin: auto;
} */

/* .container{
    background-color: #ffffff;
    width: 50%;
    min-width: 450px;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 50px 30px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
}

.image-container{
    width: 90%;
    margin: 0 auto 30px auto;
}

.image-container img{
    display: block;
    position: relative;
    max-width: 100%;
    max-height: auto;
    margin: auto;
} */

/* figcaption{
    margin: 20px 0 30px 0;
    text-align: center;
    color: #2a292a;
}

input[type="file"]{
    display: none;
}

label{
    display: block;
    position: relative;
    background-color: #025bee;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    width: 300px;
    padding: 18px 0;
    border-radius: 5px;
    margin: auto;
    cursor: pointer;
}


.formulario-info{
    height: 5rem;
} */