@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Poppins:wght@200;300;400&display=swap');

body{
    background: #D5B4B4;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}